<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Sistecredito" value="http://scpackages.azurewebsites.net/nuget" />
    <add key="MsNuget" value="https://api.nuget.org/v3/index.json" />
	<add key="credinet" value="https://credinet-packages.azurewebsites.net/nuget" />
  </packageSources>
</configuration>