.swagger-ui .topbar {
    background-color: #69b225;
}


.divLogo {
    width: 300px;
    overflow: hidden;
    margin: 0;
}

.logoSCSwagger {
    max-width: 100%;
    /* object-fit: cover; */
    display: block;
    width: 100%;    
}